.nav-item-current {
  color: red; }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 50%;
  top: 5px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #373737;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: red; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: red; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  margin-top: 2rem;
  font-family: 'Crimson Pro', serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/chongqing.jpg);
    background-attachment: fixed;
    background-size: cover; }
  body:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(68, 68, 68, 0.4); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 7rem;
    text-align: center; }
    h1.lg-heading .text-primary,
    h2.lg-heading .text-primary,
    h3.lg-heading .text-primary {
      transition: all 0.5s ease-out; }
      h1.lg-heading .text-primary:hover,
      h2.lg-heading .text-primary:hover,
      h3.lg-heading .text-primary:hover {
        font-size: larger;
        transition: all 0.7s ease-out; }
    h1.lg-heading .text-secondary,
    h2.lg-heading .text-secondary,
    h3.lg-heading .text-secondary {
      transition: all 0.5s ease-out; }
      h1.lg-heading .text-secondary:hover,
      h2.lg-heading .text-secondary:hover,
      h3.lg-heading .text-secondary:hover {
        font-size: larger;
        transition: all 0.7s ease-out; }
    h1.lg-heading .text-secondaryy,
    h2.lg-heading .text-secondaryy,
    h3.lg-heading .text-secondaryy {
      transition: all 0.5s ease-out; }
      h1.lg-heading .text-secondaryy:hover,
      h2.lg-heading .text-secondaryy:hover,
      h3.lg-heading .text-secondaryy:hover {
        font-size: larger;
        transition: all 0.7s ease-out; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    text-align: center;
    background: rgba(73, 73, 73, 0.5); }

.plink {
  color: red;
  transition: all 0.5s ease-out; }
  .plink:hover {
    font-size: larger;
    transition: all 0.7s ease-out; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  width: 100%; }

.text-secondary {
  color: red; }

.text-secondaryy {
  color: red; }

main {
  padding: 0rem;
  height: 100%;
  min-height: calc(100vh - 92px); }
  main .portrait {
    width: 200px;
    height: 200px;
    background: url(../img/naamasmall.png);
    border-radius: 50%;
    border: solid 3px red;
    display: table;
    margin: 0 auto; }
  main .icons {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center; }
    main .icons a {
      padding: 0.4rem;
      transition: all 0.5s ease-out; }
      main .icons a:hover {
        color: red;
        font-size: larger;
        transition: all 0.7s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 0vh; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    margin-right: 1rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      background: #cc0000;
      color: #444; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px; }

.contact-info {
  display: grid;
  grid-gap: 30px;
  padding-left: 8%;
  padding-right: 20%;
  grid-template-areas: 'bio' 'contact1' 'contact2';
  grid-template-columns: repeat(1, 1fr); }
  .contact-info #h3 {
    color: red; }

.bio {
  grid-area: bio;
  font-size: 1.5rem; }

.contact-1 {
  grid-area: contact1;
  font-size: 1.2rem; }

.contact-2 {
  grid-area: contact2;
  font-size: 1.2rem; }

.contact {
  background: #515151;
  padding: 0.5rem;
  border-bottom: red 5px solid; }

.me-info {
  display: grid;
  grid-gap: 30px;
  padding-left: 8%;
  padding-right: 8%;
  grid-template-areas: 'myimage meabio meabio' 'mebio mebio mebio' 'me1 me2 me3';
  grid-template-columns: repeat(3, 1fr); }
  .me-info #h3 {
    color: red; }

.fitech {
  width: 200px;
  height: 200px;
  background: url(../img/fitech-small.png);
  border-radius: 50%;
  border: solid 3px red;
  display: table;
  margin: 0 auto; }

.aalto {
  width: 200px;
  height: 200px;
  background: url(../img/social.png);
  border-radius: 50%;
  border: solid 3px red;
  display: table;
  margin: 0 auto; }

.tuni {
  width: 200px;
  height: 200px;
  background: url(../img/tuni.jpg);
  border-radius: 50%;
  border: solid 3px red;
  display: table;
  margin: 0 auto; }

.helsinki {
  width: 200px;
  height: 200px;
  background: url(../img/helsinki.png);
  border-radius: 50%;
  border: solid 3px red;
  display: table;
  margin: 0 auto; }

.xamk {
  width: 200px;
  height: 200px;
  background: url(../img/xamk.jpg);
  border-radius: 50%;
  border: solid 3px red;
  display: table;
  margin: 0 auto; }

.my-image {
  grid-area: myimage; }
  .my-image .portait {
    width: 200px;
    height: 200px;
    background: url(../img/naamasmall2.jpg);
    border-radius: 50%;
    border: solid 3px red;
    display: table;
    margin: 0 auto; }

.mebio {
  grid-area: mebio;
  font-size: 1.5rem; }

.meabio {
  grid-area: meabio;
  font-size: 1.5rem; }

.me-1 {
  grid-area: me1; }

.me-2 {
  grid-area: me2; }

.me-3 {
  grid-area: me3; }

.mebio {
  background: #515151;
  padding: 0.5rem;
  border-bottom: red 4px solid;
  border-top: red 4px solid; }

.job {
  background: #515151;
  padding: 0.5rem;
  border-bottom: red 5px solid; }

.history-info {
  display: grid;
  grid-gap: 30px;
  padding-left: 8%;
  padding-right: 8%;
  grid-template-areas: 'historybio historybio historybio' 'coursesbio coursesbio coursesbio' 'course1 course2 course3' 'course4 course5 course6' 'course7 course8 course9' 'course10 course11 empty' 'emqbio emqbio emqbio' 'emq1 emq2 emq3' 'random random random' 'art1 art2 art3';
  grid-template-columns: repeat(3, 1fr); }
  .history-info #h3 {
    color: red; }

.historybio {
  grid-area: historybio;
  font-size: 1.5rem; }

.coursesbio {
  grid-area: coursesbio;
  font-size: 1.5rem; }

.course-1 {
  grid-area: course1; }

.course-2 {
  grid-area: course2; }

.course-3 {
  grid-area: course3; }

.course-4 {
  grid-area: course4; }

.course-5 {
  grid-area: course5; }

.course-6 {
  grid-area: course6; }

.course-7 {
  grid-area: course7; }

.course-8 {
  grid-area: course8; }

.course-9 {
  grid-area: course9; }

.course-10 {
  grid-area: course10; }

.course-11 {
  grid-area: course11; }

.empty {
  grid-area: empty; }

.coursesbio {
  background: #515151;
  padding: 0.5rem;
  border-bottom: red 4px solid;
  border-top: red 4px solid; }

.random {
  background: #515151;
  padding: 0.5rem;
  border-bottom: red 4px solid;
  border-top: red 4px solid; }

.emqbio {
  background: #515151;
  padding: 0.5rem;
  border-bottom: red 4px solid;
  border-top: red 4px solid; }

.course {
  background: #515151;
  padding: 0.5rem;
  border-bottom: red 5px solid; }

.emq {
  background: #515151;
  padding: 0.5rem;
  border-bottom: red 5px solid; }

.art {
  background: #515151;
  padding: 0.5rem;
  border-bottom: red 5px solid; }

.emqbio {
  grid-area: emqbio;
  font-size: 1.5rem; }

.emq1 {
  grid-area: emq1; }

.emq2 {
  grid-area: emq2; }

.emq3 {
  grid-area: emq3; }

.random {
  grid-area: random;
  font-size: 1.5rem; }

.art1 {
  grid-area: art1; }

.art2 {
  grid-area: art2; }

.art3 {
  grid-area: art3; }

@media screen and (min-width: 1171px) {
  grid-template-columns: repeat(3, 1fr); }

@media screen and (min-width: 801px) and (max-width: 1170px) {
  .history-info {
    grid-template-areas: 'historybio coursesbio' 'course1 course2' 'course3 course4' 'course5 course6' 'course7 course8' 'course9 course10' 'course11 empty' 'emqbio emqbio' 'emqbio emq1' 'emq2 emq3' 'random random' 'art1 art2' 'art3 empty';
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 800px) {
  .text-secondary {
    opacity: 0;
    font-size: 0rem; }
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  .me-info {
    grid-template-areas: 'myimage' 'meabio' 'meabio' 'mebio' 'mebio' 'mebio' 'me1' 'me2' 'me3';
    grid-template-columns: 1fr; }
  .history-info {
    grid-template-areas: 'historybio' 'coursesbio' 'course1' 'course2' 'course3' 'course4' 'course5' 'course6' 'course7' 'course8' 'course9' 'course10' 'course11' 'empty' 'emqbio' 'emqbio' 'emqbio' 'emq1' 'emq2' 'emq3' 'random' 'random' 'random' 'art1' 'art2' 'art3';
    grid-template-columns: 1fr; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; } }
