// Widescreens
@include mediaXL {

	grid-template-columns: repeat(3, 1fr);
	
}

//desktops and laptops
@include mediaLg {


	.history-info {
		grid-template-areas: 
			'historybio coursesbio'
			'course1 course2'
			'course3 course4'
			'course5 course6'
			'course7 course8'
			'course9 course10'
			'course11 empty'
			'emqbio emqbio'
			'emqbio emq1'
			'emq2 emq3'
			'random random'
			'art1 art2'
			'art3 empty';
			grid-template-columns: repeat(2, 1fr);
	}
}

//tables and small laptops
@include mediaMd {
	.text-secondary {
		opacity: 0;
		font-size: 0rem;
	}
	main {
		align-items: center;
		text-align: center;

		.lg-heading {
			line-height: 1;
			margin-bottom: 1rem;
		}
	}


	.me-info {
		grid-template-areas: 
		'myimage'
		'meabio'
		'meabio'
		'mebio'
		'mebio'
		'mebio'
		'me1'
		'me2'
		'me3';
		grid-template-columns: 1fr;
	}

	.history-info {
		grid-template-areas: 
		'historybio'
		'coursesbio'
		'course1'
		'course2'
		'course3'
		'course4'
		'course5'
		'course6'
		'course7'
		'course8'
		'course9'
		'course10'
		'course11'
		'empty'
		'emqbio'
		'emqbio'
		'emqbio'
		'emq1'
		'emq2'
		'emq3'
		'random'
		'random'
		'random'
		'art1'
		'art2'
		'art3';
		grid-template-columns: 1fr;
	}
}

//smartphones
@include mediaSm {
	
	main#home h1 {
		margin-top: 10vh;
	}

}
