@import 'config';
@import 'menu';


* {
	box-sizing: border-box;
}


body {
	@include background;
	background: $primary-color;
	color: #fff;
	height: 100%;
	margin: 0;
	margin-top: 2rem;
	font-family: 'Crimson Pro', serif;
	line-height: 1.5;
}


h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;

	&.lg-heading {
		font-size: 7rem;
		text-align: center;
		//text-transform: uppercase;
		


		.text-primary {
			@include easeOut;

			&:hover {
				font-size: larger;
				transition: all 0.7s ease-out;
			}
		}

		.text-secondary {
			@include easeOut;
			&:hover {
				font-size: larger;
				transition: all 0.7s ease-out;
			}
		}
		.text-secondaryy {
			@include easeOut;
			&:hover {
				font-size: larger;
				transition: all 0.7s ease-out;
			}
		}
	}

	&.sm-heading {
		margin-bottom: 2rem;
		padding: 0.2rem 1rem;
		text-align: center;
		background: rgba(lighten($primary-color, 2), 0.5);
	}
}

.plink {
	color: $secondary-color;
	@include easeOut;

		&:hover {
			font-size: larger;
			transition: all 0.7s ease-out;
		}
}

a{
	color: #fff;
	text-decoration: none;
}

header {
	position: fixed;
	width: 100%;
	
}

.text-secondary {
	color: $secondary-color;
}

.text-secondaryy {
	color: $secondary-color;
}

main {
	padding: 0rem;
	height: 100%;
	min-height: calc(100vh - 92px);

	.portrait {
		width: 200px;
		height: 200px;
		background: url(../img/naamasmall.png);
		border-radius: 50%;
		border: solid 3px $secondary-color;
		display: table;
		margin: 0 auto;
	}
	
	.icons {
		margin-top: 1rem;
		margin-bottom: 2rem;
		text-align: center;

		a {
			padding: 0.4rem;
			@include easeOut;

			&:hover {
				color: $secondary-color;
				font-size: larger;
				transition: all 0.7s ease-out;
			}
		}
	}

	&#home {
		overflow: hidden;
		h1 {
			margin-top: 0vh;
		}
	}
}

.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 1rem;

	div {
		font-size: 2rem; 
		border: 3px #fff solid;
		padding: 1.5rem 2.5rem;
		margin-bottom: 3rem;
		margin-right: 1rem;
		margin-right: 1rem;
		@include easeOut;

		&:hover{
			background: darken($color: $secondary-color, $amount: 10);
			color: $primary-color;
		}
	}
}

#main-footer {
	text-align: center;
	padding: 1rem;
	background: darken($primary-color, 10);
	color: set-text-color($primary-color);
	height: 60px;
}

.contact-info {
	display: grid;
	grid-gap: 30px;
	padding-left: 8%;
	padding-right: 20%;
	grid-template-areas: 
	'bio'
	'contact1'
	'contact2';
	grid-template-columns: repeat(1, 1fr);
	#h3 {
		color: $secondary-color;
	}
}

.bio {
	grid-area: bio;
	font-size: 1.5rem;
}

.contact-1 {
	grid-area: contact1;
	font-size: 1.2rem;
}
.contact-2 {
	grid-area: contact2;
	font-size: 1.2rem;
}

.contact {
	background: lighten($primary-color, 5);
	padding: 0.5rem;
	border-bottom: $secondary-color 5px solid;
}

//under here "me" page 

.me-info {
	display: grid;
	grid-gap: 30px;
	padding-left: 8%;
	padding-right: 8%;
	grid-template-areas: 
	'myimage meabio meabio'
	'mebio mebio mebio'
	'me1 me2 me3';
	grid-template-columns: repeat(3, 1fr);
	#h3 {
		color: $secondary-color;
	}
}


.fitech {
	width: 200px;
	height: 200px;
	background: url(../img/fitech-small.png);
	border-radius: 50%;
	border: solid 3px $secondary-color;
	display: table;
	margin: 0 auto;
}
.aalto {
	width: 200px;
	height: 200px;
	background: url(../img/social.png);
	border-radius: 50%;
	border: solid 3px $secondary-color;
	display: table;
	margin: 0 auto;
}

.tuni {
	width: 200px;
	height: 200px;
	background: url(../img/tuni.jpg);
	border-radius: 50%;
	border: solid 3px $secondary-color;
	display: table;
	margin: 0 auto;
}

.helsinki {
	width: 200px;
	height: 200px;
	background: url(../img/helsinki.png);
	border-radius: 50%;
	border: solid 3px $secondary-color;
	display: table;
	margin: 0 auto;
}


.xamk {
	width: 200px;
	height: 200px;
	background: url(../img/xamk.jpg);
	border-radius: 50%;
	border: solid 3px $secondary-color;
	display: table;
	margin: 0 auto;
}

.my-image {
	grid-area:myimage;
	.portait {
		width: 200px;
		height: 200px;
		background: url(../img/naamasmall2.jpg);
		border-radius: 50%;
		border: solid 3px $secondary-color;
		display: table;
		margin: 0 auto;
	}
}



.mebio {
	grid-area: mebio;
	font-size: 1.5rem;
}

.meabio {
	grid-area: meabio;
	font-size: 1.5rem;
}

.me-1 {
	grid-area: me1;
}
.me-2 {
	grid-area: me2;
}
.me-3 {
	grid-area: me3;
}

.mebio {
	background: lighten($primary-color, 5);
	padding: 0.5rem;
	border-bottom: $secondary-color 4px solid;
	border-top: $secondary-color 4px solid;
}

.job {
	background: lighten($primary-color, 5);
	padding: 0.5rem;
	border-bottom: $secondary-color 5px solid;
}

//under here history

.history-info {
	display: grid;
	grid-gap: 30px;
	padding-left: 8%;
	padding-right: 8%;
	grid-template-areas: 
	'historybio historybio historybio'
	'coursesbio coursesbio coursesbio'
	'course1 course2 course3'
	'course4 course5 course6'
	'course7 course8 course9'
	'course10 course11 empty';
	grid-template-columns: repeat(3, 1fr);
	#h3 {
		color: $secondary-color;
	}
}

.historybio {
	grid-area: historybio;
	font-size: 1.5rem;
}

.coursesbio {
	grid-area: coursesbio;
	font-size: 1.5rem;
}

.course-1 {
	grid-area: course1;
}
.course-2 {
	grid-area: course2;
}
.course-3 {
	grid-area: course3;
}
.course-4 {
	grid-area: course4;
}
.course-5 {
	grid-area: course5;
}
.course-6 {
	grid-area: course6;
}
.course-7 {
	grid-area: course7;
}
.course-8 {
	grid-area: course8;
}
.course-9 {
	grid-area: course9;
}
.course-10 {
	grid-area: course10;
}
.course-11 {
	grid-area: course11;
}


.empty {
	grid-area: empty;
}

.coursesbio {
	background: lighten($primary-color, 5);
	padding: 0.5rem;
	border-bottom: $secondary-color 4px solid;
	border-top: $secondary-color 4px solid;
}

.course {
	background: lighten($primary-color, 5);
	padding: 0.5rem;
	border-bottom: $secondary-color 5px solid;
}



@import 'mobile';